rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /players/{userId} {
      allow read: if true;
      allow create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }
    match /requests/{requestId} {
      allow read: if true;
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid
                    && request.resource.data.username is string
                    && request.resource.data.username.size() >= 2
                    && request.resource.data.username.size() <= 16
                    && request.resource.data.text is string
                    && request.resource.data.text.size() >= 5
                    && request.resource.data.text.size() <= 300
                    && request.resource.data.status == '検討中';
      allow update: if false;
      allow delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
